*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'venecia-font';
    src: url("../assets/fonts/Philosopher-Regular.ttf");
}
@font-face {
    font-family: 'source';
    src: url(../assets/fonts/);
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: black;
    color: white;
    height: 190px;
}

header div{
    border-bottom: 1px #d9d9d9 solid;
    height: 120px;
}

header div h1{
    font-size: 4rem;
    font-weight: lighter;
    font-family: 'venecia-font';
}

header div input{
    background-color: black;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 20px;
}

header nav{
    height: 70px;
}

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: lighter;
}

nav ul li{
    display: inline;
}

main .section-1{
    background-image: url("../assets/img/clothes.jpg");
    background-size: cover;
    background-position: center center;
    height: 483px;
}


.section-1 h2{
    font-family: 'venecia-font';
    font-weight: lighter;
    font-size: 2.8125rem;
    opacity: 78%;
}

.section-1 div{
    text-align: center;
}
.section-1 div img{
    width: 247px;
    height: 341px;
}

.section-2 div img{
    width: 420px;
    height: 388px;
}

footer{
    background-color: black;
    color: white;
}

